.container
	= form_for :session, url: login_path do |f|
		.row
			.col-md-3.col-sm-12
			.col-md-6.col-sm-12
				.form-group
					= f.email_field :email, :placeholder => 'email', :class =>"form-control"
				.form-group
					= f.password_field :password, :placeholder => 'password', :class =>"form-control"
				.btn-group#add
					= f.submit "login", :class =>"btn btn-mysubmit"
			.col-md-3.col-sm-12