- @title = "Login"
- @id = "session-new"

.pull-left{:style=>"margin-top: 15px;"}
	= link_to 'CANCEL', recipes_path, method: :get, style: "margin-left: 25px;"
.container
	.row
		.col-md-12.col-sm-12{:style=>"text-align:center;"}
			%h1 login
= render 'form'