- @title = " Cookbook | Login"
- @id = "session-new"

.pull-left{:style=>"margin-top: 15px;"}
	= link_to 'CANCEL', recipes_path, method: :get, style: "margin-left: 25px;"
.container
	.row
		.col-md-12.col-sm-12{:style=>"text-align:center;"}
			%h1 login
= render 'form'
.container{:style=>"margin-top: 25px;"}
	.row
		.col-md-12.col-sm-12{:style=>"text-align:center;"}
			%h3{:style=>"margin-bottom: 10px;"} don't have an account?
		.col-md-12.col-sm-12{:style=>"text-align:center;"}
			.btn-group#add
				= button_to "SIGN UP", signup_path, :method => :get, :class => "btn btn-mysubmit", :params => {return_id: @return_id}