/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media (min-width:500px)
{
  .text-right-responsive {text-align:center;}
  .text-left-responsive {text-align:center;}
}  
@media (min-width:1000px)
{
  .text-right-responsive {text-align:right;}
  .text-left-responsive {text-align:left;}
}  

@media only screen and (max-width: 500px) {
	.text-right-responsive {text-align:center;}
	.text-left-responsive {text-align:center;}
}

.btn-mysubmit{
	background: none;
	border: none;
	border-bottom: solid #fff 1pt;
	border-radius: 0;
	padding-bottom: 3px;
	padding-top: 3px;
	color: #757575;
	font-family: 'Open Sans';
	letter-spacing: .65px;
	text-transform: uppercase;
}

.btn-mysubmit:hover{
	color: #333;
	border-bottom: solid #333 1pt;
}
