// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: 'Birch';
    src: url('fonts/Birch.ttf');
}

h1{
	margin-top: 40px;
	font-family: 'Vollkorn';
}

p{
	font-family: 'Open Sans';
	font-size: 14px;
	letter-spacing: .65px;
}

h3{
	font-family: 'Vollkorn';
	margin-bottom: 30px;
}

li{
	font-family: 'Open Sans';
	letter-spacing: .5px;
	list-style: none;
	line-height: 120%;
	padding-bottom: 15px;
}

#home li{
	padding-bottom: 30px;
}

a{
	color: #757575;
	font-family: 'Open Sans';
	letter-spacing: .65px;
	padding-bottom: 3px;
}

a.recipe{
	font-family: 'Vollkorn';
	letter-spacing: none;
	font-size: 18px;
	color: #333;
}

a:hover{
	color: #333;
	text-decoration: none;
	border-bottom: solid #333 1pt;
}

#home a#fake{
	font-family: 'Open Sans';
	letter-spacing: .65px;
	font-size: 12px;
	text-transform: uppercase;
	color: #757575;
}

#home a#fake:hover{
	border: none;
	color: #757575;
}

#recipe-show h4{
	font-family: 'Vollkorn';
	font-size: 24px;
	padding-top: 25px;
}

#recipe-show span#avg-rating{
	font-size: 12px;
	font-family: 'Open Sans';
	letter-spacing: .65px;
	text-transform: uppercase;
}

#recipe-show span#rating{
	font-family: 'Open Sans';
	letter-spacing: .65px;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 10px;
}

#recipe-show p{
	line-height: 200%;
	margin-bottom: 20px;
}

#recipe-show label{
	text-transform: lowercase;
	font-size: 20px;
}

textarea{
	font-family: 'Open Sans';
	letter-spacing: .5px;
}

input{
	font-family: 'Open Sans';
	letter-spacing: .5px;
}

input.btn-mysubmit{
	padding-left: 0;
	padding-right: 0;
}

textarea.form-control, input.form-control{
	border: none;
	box-shadow: none;
}

#add{
	padding-left: 12px;
}